    :root {
        --bg-principal: #161A2B;
        --bg-secundario: #23283E;
        --text-principal: #E4E6EB;
        --text-secundario: #8A91A6;

        --verde-menta: #74EBAF;
        --roxo-vibrante: #B030FF;
        --azul-controle: #5E64FF;

        --azul-controle-hover: #4B54D8;
        --roxo-vibrante-hover: #9A27E0;

        --vermelho: #FF4B6A;
        --amarelo: #FFD166;
    }


    html,
    body {
        margin: 0;
        min-height: 100%;
    }


    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: var(--text-principal);
        background-color: var(--bg-principal);
    }

    #tela_login {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to right, var(--bg-principal), var(--bg-secundario));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container_login {
        background-color: var(--bg-secundario);
        border-radius: 20px;
        padding: 45px;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 400px;
        position: relative;
        border: 1px solid var(--roxo-vibrante);
        box-shadow: var(--roxo-vibrante) 0px 0px 15px;
    }

    #container_login h1 {
        font-size: 2.0em;
        color: var(--text-branco);
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #container_login .texto_verde {
        color: var(--verde-menta);
    }

    #login_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #login_form label {
        align-self: flex-start;
        margin-left: 7%;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1em;
        color: var(--text-secundario);
    }

    #login_form input {
        border-radius: 8px;
        width: 80%;
        padding: 13px;
        font-size: 16px;
        background-color: var(--bg-principal);
        color: var(--text-branco);
        border: 1px solid var(--text-secundario);
        transition: 0.3s;
    }

    #login_form input:focus {
        outline: none;
        border-color: var(--verde-menta);
        box-shadow: 0 0 10px var(--verde-menta);
        transform: scale(1.02);
    }

    #login_form button {
        margin-top: 35px;
        width: 85%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: var(--azul-controle);
        color: var(--text-branco);
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
        transition: 0.3s;
    }

    #login_form button:hover {
        background-color: var(--azul-controle-hover);
        transform: scale(1.05);
        box-shadow: var(--azul-controle) 0px 0px 10px;
    }

    #botaoCadastro {
        margin-top: 20px;
        color: var(--text-principal);
        font-size: 0.9em;
    }

    #botaoCadastro button.link-verde {
        background: none;
        border: none;
        color: var(--verde-menta);
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        padding: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    #botaoCadastro button.link-verde:hover {
        color: var(--text-branco);
        text-shadow: 0 0 8px var(--verde-menta);
    }

    #botaoVoltar {
        position: absolute;
        top: -20px;
        left: -20px;
        width: 55px;
        height: 55px;
        background-color: var(--roxo-vibrante);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: var(--roxo-vibrante) 0px 0px 10px;
        transition: 0.3s;
    }

    #botaoVoltar:hover {
        transform: scale(1.1);
        background-color: var(--roxo-vibrante-hover);
        box-shadow: var(--roxo-vibrante-hover) 0px 0px 15px;
    }

    #botaoVoltar button {
        background: none;
        border: none;
        color: var(--text-branco);
        font-size: 35px;
        cursor: pointer;
        padding: 0;
        margin-bottom: 4px;
    }


    #error_login {
        margin-top: 15px;
        color: var(--vermelho);
        font-size: 0.9em;
        height: 20px;
    }

    #error_cadastro {
        margin-top: 15px;
        color: var(--vermelho);
        font-size: 0.9em;
        height: 20px;
    }