:root {
    --bg-principal: #161A2B;
    --bg-secundario: #23283E;
    --text-branco: #FFFFFF;
    --text-principal: #E4E6EB;
    --text-secundario: #8A91A6;

    --verde-menta: #74EBAF;
    --roxo-vibrante: #B030FF;
    --azul-controle: #5E64FF;

    --azul-controle-hover: #4B54D8;
    --roxo-vibrante-hover: #9A27E0;

    --vermelho: #FF4B6A;
    --amarelo: #FFD166;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    color: var(--text-principal);
    font-family: 'Poppins', serif;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-principal);
    height: 15dvh;
    min-height: 100px;
}

#texto_menu {
    font-size: 1.5em;
    color: var(--verde-menta);
    margin-left: 5dvw;
}

#lista_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2dvw;
    margin-right: 5dvw;
    color: var(--text-principal);
}

#lista_menu li a {
    text-decoration: none;
    color: var(--text-principal);
    font-size: 15px;
    transition: color 0.3s ease;
}

#lista_menu li a:hover {
    color: var(--verde-menta);
}

#lista_menu li a#selecionada {
    font-weight: bold;
    color: var(--verde-menta);
    font-size: 20px;
}

#home {
    height: 85dvh;
    background: linear-gradient(to left, var(--bg-principal), var(--bg-secundario));
    display: flex;
    justify-content: center;

}

#container_home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10 0%;
    width: 50dvw;
    padding: 0 3dvw;
}

#texto_cta {
    font-size: 4.3rem;
    color: var(--text-branco);
}


#texto_cta span {
    color: var(--verde-menta);
    text-align: center;
}

#texto_descricao_home {
    width: 50dvw;
    padding: 0 3dvw;
    font-size: 1.3em;
    color: var(--text-secundario);
}

.texto_verde {
    color: var(--verde-menta);
}

.texto_roxo {
    color: var(--roxo-vibrante);
}

.texto_azul {
    color: var(--azul-controle);
}

#container_personagem_home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45dvw;
    height: 100%;
    background-image: url(../assets/imgs/personagem/titoForte.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#sobre {
    height: 100dvh;
    background-color: var(--bg-principal);
    display: flex;
    flex-direction: column;
    padding: 0 3dvw;
}

#container_sobre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5dvw;
}


#container_texto_sobre h1 {
    font-size: 3em;
    margin-top: 18dvh;
    color: var(--text-branco);

}

#container_texto_sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50dvw;
    height: 65%;

}

#container_texto_sobre p {
    font-size: 1.4em;
    color: var(--text-principal);
}

#container_valores_sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50dvw;
    gap: 2dvh;
}

#container_valores_sobre p {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linha_valores {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 35%;
    gap: 2dvw;
}

.valores {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45%;
    height: 30dvh;
    border-radius: 20px;
    padding: 10px;
    box-shadow: var(--roxo-vibrante) 0px 0px 10px;
    border: solid 1px var(--roxo-vibrante);
}

.valores h3 {
    text-align: center;
    width: 100%;
    color: var(--text-branco);
    text-shadow:
        var(--roxo-vibrante-hover) 0px 0px 5px, var(--roxo-vibrante) 0px 0px 10px, var(--roxo-vibrante-hover) 0px 0px 20px;
}

.valores:hover {
    animation: hoverCard 3s infinite;
}

#quem_sou{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    gap: 5dvw;
    padding: 0 3dvw;
    text-align: justify;
    background: linear-gradient(to right, var(--bg-principal), var(--bg-secundario));
}

#container_imagem_quem_sou img{
    width: 35dvw;
    height: 80dvh;
    border-radius: 5%;
}

#relacionamentos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140dvh;
    gap: 5dvw;
    background-color: var(--bg-principal);
}

#container_relacionamentos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container_relacionamentos h1{
    font-size: 3.4em;
    color: var(--text-branco);
    margin: 0;
}

#container_relacionamentos p{
    font-size: 1.0em;
    color: var(--text-secundario);
    width: 50dvw;
    text-align: center;
    }

#container_imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5dvh;
    gap: 5dvw;
}

#container_imagens img{
    width: 27dvw;
    height: 57dvh;
    border-radius: 20px;
    filter: contrast(1.2);
    filter: drop-shadow(0 0 5px var(--azul-controle));;;
    
}

#container_comentarios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5dvh;
    padding: 3dvw;
    width: 65dvw;
    border-radius: 15px;
    background-color: var(--bg-secundario);
    gap: 2dvh;
}

#aspas{
    font-size: 4em;
    padding: 0;
    margin: 0;
    height: 23px;
    color: var(--text-secundario)
}

#container_comentarios p{
    font-size: 1.3em;
    color: var(--text-principal);
    text-align: left;
    width: 100%;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40dvh;  
    background-color: var(--bg-secundario);
    color: var(--text-secundario);
}

#container_footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

#logo_footer{
    width: 10dvw;
    height: 10dvh;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto_footer{
    font-size: 1.2em;
    color: var(--text-principal);
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: var(--text-secundario);
    font-size: 1.0em;
    transition: color 0.3s ease;
}

footer ul li a:hover{
    color: var(--text-principal);
    transform: scale(1.15);
    font-size: 1.1em;
    transition: 500ms;
}


#linha_footer{
    width: 100%;
    height: 1px;
    background-color: var(--text-secundario);
}

#redes_sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2dvw;
}

#redes_sociais a{
    color: var(--text-secundario);
    font-size: 1.5em;
    transition: color 0.3s ease;
}

#redes_sociais a:hover{
    transition: 500ms;
    filter: invert(80%);
    transform: scale(1.15);
}

#redes_sociais a img{
    width: 50px;
    height: 50px;
    filter: invert(80%);
}

@keyframes hoverCard {
    0% {
    box-shadow: var(--roxo-vibrante) 3px 3px 10px;
    }

    20% {
        box-shadow: var(--roxo-vibrante-hover) 3px 0px 10px;
    }

    40% {
        box-shadow: var(--roxo-vibrante-hover) 3px 3px 10px;
    }

    60% {
        box-shadow: var(--roxo-vibrante-hover) -3px 3px 10px;
    }

    80% {
        box-shadow: var(--roxo-vibrante) -3px -3px 10px;
    }

    100% {
    box-shadow: var(--roxo-vibrante) 3px 3px 10px;
    }

}